#dialog {
    grid-size: 1;
    grid-gutter: 1 1;
    grid-rows: 1fr 3;
    padding: 0 1;

    border: thick $background 80%;

}

#settings_label {
    height: 5;
    width: 1fr;
    content-align: center top;
}

Input.-valid {
    border: tall $success 60%;
}

Input.-valid:focus {
    border: tall $success;
}

Input {
    margin: 1 1;
}

Label {
    margin: 1 2;
}
